html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://media.glassdoor.com/l/55/dd/db/1f/newsroom.jpg");
  background-color: #cccccc;
  background-position: center;
  background-size: cover;
  position: relative;
}

#newsContainer {
  background-color: lightskyblue;
  border: black 2px solid;
  max-height: 500px;
  overflow: scroll;
}

.navbar {
  background-color: lightskyblue;
  border-bottom: black 2px solid;
}

.sticky-top{
  background-color: lightskyblue;
}

#articles {
  display: inline-block;
  overflow: auto;
  border: black 9px solid;
  overflow: auto;
}

.news {
  border: black 4px solid;
}

.news:hover {
  border: red 4px solid;
}

#userinput,
#bodyinput {
  width: 100%;
  margin: 1px;
}

