body { background-color: rgb(189, 114, 28) }
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#articles {
  display: inline-block;
  overflow: auto;
  height: 370px;
  border: black 5px solid;
}

#news {
  border: black 3px solid;
}

#news:hover {
  border: red 4px solid;
}

#news p {
  font-family: 'Oswald', sans-serif;
}

#news a {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 150%;
}

#notes {
  float: right;
  border: 3px black solid;
}

#the-title {
  border-bottom: 4px black solid;
  margin-bottom: 3%;
}

.notetitle {
  font-weight: bold;
}

textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}

input {
  height: 36px;
  font-size: 24px;
}

textarea {
  height: 200px;
  font-size: 18px;
}

#title {
  font-size: 500%
}